flask

flask-admin
flask-assets
flask-bcrypt
flask-cache
flask-celery-helper
flask-debugtoolbar
flask-gzip
flask-login
flask-mail
flask-migrate
flask-mongoengine
flask-oauth
flask-openid
flask-principal
flask-restful
flask-script
flask-sqlalchemy
flask-wtf
flask-youtube

# Required for everything
celery
cssmin
jsmin
psycopg2

# Development tools
ipython
flower

# Testing tools
coverage
selenium
