{% extends 'base.html' %}

{% block body %}

  <div class="row">
    <div class="col-lg-12">
      <h1>{{ post.title }}</h1>

      <p class="small text-muted">Written By <a
          href="{{ url_for('.user', username=post.user.username) }}">{{ post.user.username }}</a>
        on {{ post.publish_date }}</p>

      <div>{{ post.text | safe }}</div>

      {% if post.can_user_edit(current_user) %}
        <p><a href="{{ url_for('.edit_post', id=post.id) }}" class="btn btn-primary">Edit</a></p>
      {% endif %}

    </div>

    <div class="col-lg-12">
      <h3>New Comment:</h3>

      <form method="POST" action="{{ url_for('.post', post_id=post.id) }}">
        {{ form.hidden_tag() }}



        {% for field in form %}

          {% if field.name != 'csrf_token' %}
            <div class="form-group">
              {{ field.label }}
              {% if field.errors %}
                {% for e in field.errors %}
                  <p class="help-block">{{ e }}</p>
                {% endfor %}
              {% endif %}
              {{ field(class_='form-control') }}
            </div>
          {% endif %}
        {% endfor %}

        <input class="btn btn-primary" type="submit" value="Add Comment">
      </form>
    </div>

    {% for comment in comments %}
      <h2>{{ comment.name }}</h2>
      <p>{{ comment.text }}</p>
    {% endfor %}

  </div>


{% endblock %}